* {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0;
    font-family: 'Prompt';
}
.wrapper {
    position: relative;
    width: 90vw; margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 1px black;
}
.wrapper::before {
    content: "";
    width: 24%;
    height: 1.5px;
    background-color: black;
    position: absolute;
    top: 60px;
}
.wrapper::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 68px;
}
.bottom-box {
    position: relative;
    height: 40px;
    margin-top: 4px;
}
.bottom-box::before {
    content: "";
    width: 24%;
    height: 1.75px;
    background-color: black;
    position: absolute;
    top: 2px;
    right: 0;
}
.bottom-box::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 0;
}

